* {
    padding: 0;
    margin: 0;
  }
  
  .ContainerVideoServices {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 40px 0;
  }
  
  .SectionContainerVideoServices {
    font-family: 'SFProDisplay', sans-serif;
    width: 50%;
  }
  
  .video-container {
    position: relative;
    padding: 40px 0;
  }

  .video-element{
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.50);
  }

  .pause-button {
    position: absolute;
    bottom: 10%;
    right: 10%;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    z-index: 1;
    background: none;
  }

  .cards-container {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    text-align: center;
  }
  
  .cards {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    height: 200px;
    background: none;
  }
  
  .cards.flip {
    transform: rotateY(180deg);
  }

  .black-logo{
    width: 30px !important;
    margin: 0 auto !important;
}

  .logo-title{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  
  .card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
  }
  
  .card-front {
    background-color: rgb(245, 245, 245);
    color: #000;
    row-gap: 10px;
  }
  
  .card-back {
    background-color: rgb(245, 245, 245);
    color: #000;
    transform: rotateY(180deg);
    font-size: 14px;
    row-gap: 5px;
  }
  
  .card-title {
    font-size: 30px;
    margin-left: 10px;
  }
  
  .card-button {
    background-color: #0071e3;
    color: #fff;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
  
  .card-button:hover {
    background-color: #0071e3c9;
  }

@media (max-width: 640px) {

  .cards-container {
    padding-top: 20px;
    display: block;
    column-gap: 10px;
  }

  .video-element{
    width: 95%;
    padding-bottom: 1px;
  }

  .video-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
  }

  .pause-button {
    bottom: 15%;
    right: 5%;
  }

}

@media (min-width: 641px) and (max-width: 1023px){
  .cards-container {
    padding: 20px 10px 0 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }

  .video-element{
    width: 80%;
    padding-bottom: 1px;
  }

  .video-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
  }

  .pause-button {
    bottom: 15%;
    right: 15%;
  }
}