* {
    padding: 0;
    margin: 0;
  }
  
.ContainerServices {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding: 20px 0;
}

.SectionContainerServices {
    font-family: 'SFProDisplay', sans-serif;
    text-align: center;
}

.title{
    font-size: 50px;
}

.subtitle{
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0;
    padding-bottom: 20px;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    padding: 0 200px;
}

.cards-containers {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.card-image {
    width: 30%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.cards-text{
    font-weight: bold;
    font-size: 20px;
}

@media (max-width: 640px) {

    .card-image {
        width: 20%;

    }

    .SectionContainerServices{
        width: 100%;
    }

    .grid-container{
        display: block;
        text-align: center;
    }

    .title{
        font-size: 30px;
        }
        
    .subtitle{
        margin: 0 auto;
        width: 90%;
        font-size: 18px;
        word-break: break-word;
    }

    .grid-container{
        padding: 0
    }
        
}

@media (min-width: 641px) and (max-width: 1023px){
    .SectionContainerServices{
        width: 90%;
    }

    .title{
        font-size: 30px;
        }

        
    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        padding: 0 200px;
    }
        
    .subtitle{
        font-size: 18px;
        word-break: break-word;
    }

    .grid-container{
        padding: 0 50px;
    }
  }
  



