.contact-section {
    background-color: #f9f9f9;
    padding: 20px 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-logo img {
    width: 50px;
    height: auto;
}

.contact-info h3 {
    font-size: 20px;
    color: #333;
    margin: 0;
}

.contact-info p {
    font-size: 1rem;
    color: #666;
    margin: 5px 0;
}

.contact-info a {
    color: #666;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .contact-content {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .contact-logo {
        margin-right: 40px;
    }

    .contact-info {
        text-align: left;
    }
}

@media (max-width: 640px){
    .contact-content {
        display: block;
    }
}