footer {
    background-color: #181818;
    padding: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container {
    width: 50vw;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

.footer-column {
    width: 20%;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-column h3 {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin-right: 10px;
}

.footer-column ul li {
    font-size: 0.7rem;
    color: #ffffff;
    margin-bottom: 6px;
}

.footer-column ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 14px;
    color: #ffffff;
    margin: 5px 0;
}