:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: rgb(245, 245, 245);
  overflow-x: hidden;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('/SFPRODISPLAYBLACKITALIC.OTF') format('opentype');
  font-weight: 900; /* Black */
  font-style: italic;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('/SFPRODISPLAYBOLD.OTF') format('opentype');
  font-weight: bold; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('/SFPRODISPLAYHEAVYITALIC.OTF') format('opentype');
  font-weight: 800; /* Heavy */
  font-style: italic;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('/SFPRODISPLAYLIGHTITALIC.OTF') format('opentype');
  font-weight: 300; /* Light */
  font-style: italic;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('/SFPRODISPLAYMEDIUM.OTF') format('opentype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: normal; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('/SFPRODISPLAYSEMIBOLDITALIC.OTF') format('opentype');
  font-weight: 600; /* SemiBold */
  font-style: italic;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('/SFPRODISPLAYULTRALIGHTITALIC.OTF') format('opentype');
  font-weight: 200; /* UltraLight */
  font-style: italic;
}