.Container3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section3Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    font-family: 'SFProDisplay', sans-serif;
    width: 75%;
}

.section3Container h3 {
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    background: #fff;
}

.card {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #171717;
    color: #fff;
    border-radius: 20px;
    text-align: center;
}

.imagesSection3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0 40px;
}

.imagesSection3:last-child{
    margin-bottom: 50px;
}

.imagesCards img {
    width: 100%;
}

@media (max-width: 640px) {
    .card {
        width: 80%; 
        margin: 0 auto;
    }

    .section3Container {
        width: 80%; 
    }

    .imagesSection3 {
        display: block;
        align-items: center;
        justify-content: center;
        
    }

    .imagesCards img {
        margin: 0 auto;
        width: 100%;
        padding: 10px 30px;
    }

    .section3Container h3 {
        font-size: 1.5rem; 
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .section3 {
        grid-template-columns: 1fr; 
        gap: 20px;
    }



    .imagesCards img {
        width: 80vw; 
    }
}

@media (min-width: 641px) and (max-width: 1023px){
    .card {
        width: 50%; 
        margin: 0 auto;
    }

    .section3Container {
        width: 80%; 
    }

    .imagesSection3 {
        display: block;
        align-items: center;
        justify-content: center;
        
    }

    .imagesCards img {
        margin: 0 auto;
        width: 100%;
        padding: 10px 30px;
    }

    .section3Container h3 {
        font-size: 2rem; 
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .section3 {
        grid-template-columns: 1fr; 
        gap: 20px;
    }



    .imagesCards img {
        width: 80%; 
    }
}
